.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.fade.in.modal {
  display:flex !important;
}

.modal-dialog {
  position: absolute;
  top: 35%;
  left: 30%;
  width: 40%;
  background-color: white;
  padding: 2%;
  border-width: 3px;
  border-style: solid;
  border-color: gainsboro;
  border-radius: 10px;
  background-color: white;
  transform: translateY(-50%);
}
